span,
p {
  font-size: 12pt;
  font-family: "Univers Condensed";
}

.cal > div {
  display: flex;
}

.cal h2 {
  font-size: 24pt;
  font-family: "Univers Condensed";
  font-weight: bold;
}

.year-header {
  color: var(--primary-color);
  > :first-child {
    margin-right: 10px;
  }
}

.month-header {
  > :first-child {
    margin-right: 10px;
  }
}

input[type="number"] {
  width: 60px;
}

.phase {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  > div {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 3.33vw;
  }
  > span {
    align-self: center;
  }
}
