.cal > div {
  display: flex;
}

input[type="number"] {
  width: 60px;
}

.phase {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  > div {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc(100vw / 31);
  }
  > span {
    align-self: center;
    &.after-first-new {
      color: var(--primary-color);
    }
  }
}
