.cal > div {
  display: flex;
  margin: 0 var(--margin-sides);
  margin-bottom: 20px;
}

.cal > h2 {
  margin-left: var(--margin-sides);
}

input[type="number"] {
  width: 60px;
}

.phase {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  > div {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100vw - 2 * var(--margin-sides)) / 31);
  }
  > span {
    align-self: center;
    &.after-first-new {
      color: var(--primary-color);
    }
  }
}
