span,
p {
  font-size: 12pt;
  font-family: "Univers Condensed";
}

.cal h2 {
  font-size: 24pt;
  font-family: "Univers Condensed";
  font-weight: bold;
}

.cal > h2 {
  color: var(--primary-color);
}

.month {
  display: flex;
}

.phase {
  display: flex;
  flex-direction: column;

  > div {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 3.33vw;
  }
  > span {
    align-self: center;
  }
}
