/* css reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* import fonts */
@font-face {
  font-family: "Univers Condensed";
  src:
    url("/fonts/Univers-CondensedBold.woff2") format("woff2"),
    url("/fonts/Univers-CondensedBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Univers Condensed";
  src:
    url("/fonts/Univers-Condensed.woff2") format("woff2"),
    url("/fonts/Univers-Condensed.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* define variables */
:root {
  --primary-color: hsl(208.76, 53.78%, 55.88%);
  --margin-sides: 20px;
  --background-color: "#fff";
  --text-color: #000;
  --secondary-text-color: #888;
  --border-color: #000;
  --moon-shadow-color: #000;
  --moon-illuminated-color: #fff;
  @media (prefers-color-scheme: dark) {
    --primary-color: hsl(208.76, 75%, 65%);
    --background-color: #0a0a0a;
    --text-color: #fff;
    --secondary-text-color: #777;
    --border-color: #ddd;
    --moon-shadow-color: #222;
    --moon-illuminated-color: #fff;
  }
}

/* some global styles */
body {
  font-size: 1rem;
  font-family: "Univers Condensed";
  background-color: var(--background-color);
  color: var(--text-color);
}

h2 {
  font-size: 2rem;
  font-family: "Univers Condensed";
  font-weight: bold;
}
